.skill {
    min-height: 100vh;
    text-align: center;
    margin: 0px 50px;
    margin-bottom: 20px;
}

.skill h2 {
    font-size: 2.3rem;
    margin-bottom: 40px;
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: 0px 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    overflow: hidden;
}

.skill-card {
    background-color: #333;
    color: white;
    width: 8.6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 15px;
    border-radius: 4px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.skill-card img {
    width: 3rem;
    height: 3rem;
}

.skill-card-title {
    margin: 10px 0 0;
    font-size: 1rem;
    color: white;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width: 768px) {
    .skill{
        min-height: 0;
    }
    .skill-cards {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        gap: 20px;
        padding: 10px;
        margin: 0;

    }

    .skill-card {
        width: auto;
        padding: 10px;
        animation: scroll 10s linear infinite;
    }

    .skill-card img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .skill-card-title {
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
.skill{
    min-height: 0vh;
    margin: 0px 0px;
    padding: 0px 0px;
}
}
@media (max-width: 480px) {
    .skill h2 {
        font-size: 1.7rem;
    }
}
