.home {
    margin-right: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #232526, #414345);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    gap: 80px;
    height: 70vh;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius:100px 100px 400px 100px;
    overflow: hidden;
    background: linear-gradient(135deg, #0e0e0e, #292929);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.image img {
    width: 80%;
    max-width: 380px;
    height: 20rem;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.text h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #cfcfcf;
    margin-bottom: 10px;
}

.text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f8f8f8;
}


.text p {
    font-size: 1rem;
    line-height: 1.8;
    color: #d3d3d3;
    max-width: 600px;
    margin: 20px 0;
    text-align: justify;
}

.text button {
    padding: 12px 30px;
    background: #565555;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Button shadow */
}

.text button:hover {
    background: rgb(1, 181, 169);
    color: rgb(231, 231, 231);
    transform: scale(1.04);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.cv-viewer {
    width: 100%;
    height: 50vh;
    border: none;
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}

.close-button:hover {
    color: rgb(148, 229, 251);
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e4e4f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        margin: 0;
        padding: 40px;
        gap: 20px;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .text h3 {
        font-size: 1.2rem;
    }

    .text p {
        font-size: 1.1rem;
        max-width: 500px;
    }

    .text button {
        font-size: 0.9rem;
        padding: 10px 25px;
    }
    .modal-content {
        width: 95%;
        max-width: 400px;
    }

    .cv-viewer {
        height: 40vh;
    }
}
@media (max-width: 768px) {
    .home {
        margin: 0;
        padding:20px;
        flex-direction: column;
        gap: 30px;
        height: auto;
    }

    .image{
        margin-top: 40px;
        height:auto;
        border-radius: 20px;
    }
    .image img {
        width: 80%;
        border-radius: 20%;
        height: auto;
    }

    .text h1 {
        font-size: 2rem;
    }

    .text h3 {
        font-size: 1rem;
    }

    .text p {
        font-size: 0.9rem;
        max-width: 400px;
    }

    .text button {
        font-size: 0.8rem;
        padding: 10px 20px;
    }
    .modal-content {
        width: 95%;
        max-width: 300px;
        padding: 10px;
    }

    .cv-viewer {
        height: 40vh;
    }
      .close-button {
        font-size: 2rem;
        top: 5px;
        right: 10px;
      }

      .download-button {
        font-size: 0.9rem;
        padding: 8px 15px;
      }
}

@media (max-width: 600px) {
    .home {
        margin: 0;
        padding: 10px;
        gap: 15px;
        height: auto;
    }
.image{
    margin-top: 20px;
    width: 12rem;
    height: auto;
}
    .image img {
        width: 80%;
    }

    .text h1 {
        font-size: 1.5rem;
    }

    .text h3 {
        font-size: 0.9rem;
    }

    .text p {
        font-size: 0.8rem;
        max-width: 300px;
    }

    .text button {
        font-size: 0.7rem;
        padding: 8px 15px;
    }
    .modal-content {
        padding: 8px;
    }

    .cv-viewer {
        height: 35vh;
    }

      .download-button {
        font-size: 0.8rem;
        padding: 6px 10px;
      }

      .close-button {
        font-size: 1.5rem;
      }
    }
