.project{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    padding: 0px 10px;
}
.project h2{
    font-size: 2.3rem;
    margin-bottom:40px;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px;
    gap:40px;
}
@media(max-width:1150px){
    .project-container{
        flex-direction: column;
        margin:0px 80px;
    }
}
@media (max-width: 767px) {
.project-container{
    margin: 0px 0px;
}
.project h2{
    font-size: 1.7rem;
}

}
